.contact {
    &__info {
        & p {
            font-style: normal;
            font-weight: 250;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            color: #f2f2f2;
            @media (max-width: 1120px) {
                font-size: 14px;
            }
        }
        & a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #ffffff;
        }
    }
    &__img a{
        width: 56px;
        height: 56px;
        background-color: #9fbe37;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1120px) {
            width: 30px;
            height: 30px;
        }
    }
}