.hamburger-menu {
    display: none;
    @media (max-width: 1024px) {
        display: block;
    }
}

#menu__toggle {
    display: none;
}
.hamburger-menu .nav__list-item {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    height: 60px;
    transition-duration: 0.25s;
    border-bottom: 1px solid #4d4d4d;
    & a {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        transition-duration: 0.25s;
        &:hover {
            color: #9fbe37;
        }
        &::after {
            display: block;
            content: "";
            width: 35px;
            height: 40px;
            background-image: url("../img/right.png");
        }
    }
}
.menu {
    &__btn {
        display: block;
        position: absolute;
        width: 33px;
        height: 33px;
        cursor: pointer;
        z-index: 1000;
        padding-top: 25px;
        right: 30px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        margin: 0;
        padding: 60px 0;
        text-align: center;
        background-color: #262626;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.4s);
        transition-duration: 0.25s;
    }
}

.lang__list-mobile {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 5px;
}
.hamburger-menu .lang__list-item {
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    transition-duration: 0.25s;
    & a::after{
        content: none;
    }
    &:hover {
        color: #9fbe37;
        border-bottom: 2px solid #9fbe37;
    }
}

.header__logo-mobile {
    position: absolute;
    top: 10px;
    left: 20px;
    & img {
        width: 183px;
    }
}

.menu__btn > span,
.menu__btn > span::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    z-index: 100;
}

.menu__btn > span::before {
    content: "";
    top: -8px;
}

.menu__btn > span::after {
    content: "MENU";
    top: 8px;
    display: block;
    position: absolute;
    background-color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 0%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    content: "";
    top: 0;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    & body {
        position: fixed;
    }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: 0.25s;
}

.hamburger-menu .header__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 90%;
    height: auto;
}
.hamburger-menu .contact__info {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.hamburger-menu .contact__img{
    position: absolute;
    right: 20px;
    bottom: 25px;
}
.hamburger-menu .lang-item {
    padding-bottom: 0;
}
