.breadcrumbs {
    margin-top: 50px;
    margin-bottom: 40px;
    &__list {
        display: flex;
    }
    &__item {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 135%;
        color: #707070;
        &-link {
            color: #9fbe37;
        }
        & + .breadcrumbs__item::before {
            content: "";
            display: inline;
            width: 6px;
            height: 6px;
            background: #9fbe37;
            border-radius: 50%;
            margin: 0 20px;
        }
    }
}
