.footer {
    margin-top: 60px;
    background: #fff;
    display: flex;
    &__logo {
        max-width: 680px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e0e0e0;

        &-img {
            height: 480px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
            & img {
                width: 120px;
            }
        }
        &-copyright {
            padding: 40px;
            display: flex;
            justify-content: right;
            align-items: center;
            height: 107px;
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #cecece;
            @media (max-width: 1350px) {
                font-size: 14px;
            }
        }
        @media (max-width: 890px) {
            max-width: 100%;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        max-width: 466px;
        width: 100%;
        border-right: 1px solid #e0e0e0;
        @media (max-width: 890px) {
            max-width: 100%;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        height: 480px;
        max-width: 772px;
        width: 100%;
        @media (max-width: 890px) {
            max-width: 100%;
        }
    }
    @media (max-width: 890px) {
        flex-direction: column-reverse;
    }
}
.contact {
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        padding: 45px;
        height: 480px;
        & h3 {
            font-style: normal;
            font-weight: 300;
            font-size: 29px;
            line-height: 138%;
            color: #999999;
        }
        @media (max-width: 890px) {
            align-items: center;
            justify-content: center;
        }
    }
    &__list {
        margin-top: 50px;
        &-item {
            font-style: normal;
            font-weight: 300;
            font-size: 21px;
            line-height: 135%;
            color: #000000;
            margin-bottom: 40px;
            &:nth-last-child(1) {
                margin-bottom: 20px;
                @media (max-width: 950px) {
                    margin-bottom: 20px;
                }
            }
            &::before {
                content: "";
                width: 25px;
                height: 24px;
                margin-right: 20px;
            }
            @media (max-width: 1350px) {
                font-size: 16px;
            }
            @media (max-width: 950px) {
                margin-bottom: 20px;
            }
        }
    }
    &__facebook a {
        padding: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 107px;
        width: 100%;
        @media (max-width: 890px) {
            border-bottom: 1px solid #e0e0e0;
        }
    }
}

.link__map {
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #8da832;
    margin-left: 44px;
    @media (max-width: 890px) {
        margin-left: 14px;
    }
}
.phone-numbers {
    display: flex;
    flex-direction: column;
}
.--phone,
.--mail,
.--location {
    display: flex;
}
.--location p {
    max-width: 368px;
    width: 100%;
    @media (max-width: 1330px) {
        max-width: 280px;
    }
    @media (max-width: 1110px) {
        max-width: 220px;
    }
    @media (max-width: 985px) {
        max-width: 180px;
    }
}
.--phone::before {
    background-image: url("../img/phone_f.png");
}
.--mail::before {
    background-image: url("../img/mail.png");
}
.--location::before {
    background-image: url("../img/location.png");
    background-position: cover;
}

.menu {
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        &-item {
            height: 120px;
            display: flex;
            & a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 60px 0 40px;
                font-style: normal;
                font-weight: 300;
                font-size: 29px;
                line-height: 138%;
                color: #000000;
                @media (max-width: 1350px) {
                    font-size: 22px;
                }
                @media (max-width: 930px) {
                    padding: 0 30px 0 30px;
                }
            }
            border-bottom: 1px solid #e0e0e0;
            &:nth-last-child(1) {
                @media (max-width: 890px) {
                    display: none;
                }
            }
            &:nth-last-child(1) a {
                justify-content: left;
            }
            &:nth-last-child(1) p {
                font-style: normal;
                font-weight: 300;
                font-size: 37px;
                line-height: 105%;
                color: rgba(255, 255, 255, 0.85);
                margin-left: 35px;
                @media (max-width: 1350px) {
                    font-size: 22px;
                }
            }
        }
    }
}

.pol_confident p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #999999;
}

.--green {
    background: #9fbe37;
    height: 107px;
    border-bottom: none;
}

.footer__back-up {
    display: none;
    justify-content: center;
    align-items: center;
    @media (max-width: 600px) {
        display: flex;
    }
}
.back-up {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.85);
}
