@import "mixin";
@import "fonts";
@import "header";
@import "footer";
@import "mobile";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova";
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
}
hr {
    color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    @media (max-width: 600px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
body {
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1740px) {
        padding: 0px 30px;
    }
    @media (max-width: 600px) {
        padding: 0px 0px;
    }
}

.wrapper {
    display: inherit;
    justify-content: inherit;
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    flex-direction: inherit;
}

.main-section {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &__body {
        max-width: 977px;
        width: 100%;
    }
    &__title {
        margin: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 100px;
        line-height: 107%;
        text-transform: uppercase;
        color: #f2f2f2;
        @media (max-width: 1590px) {
            font-size: 80px;
        }
        @media (max-width: 1000px) {
            font-size: 60px;
        }
        @media (max-width: 850px) {
            font-size: 40px;
        }
        @media (max-width: 600px) {
            font-size: 35px;
            text-align: left;
            padding: 20px;
            width: 100%;
        }
    }
    &__scroll {
        margin-left: 60%;
        margin-top: 70px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.85);
        @media (max-width: 1590px) {
            width: 200px;
            height: 200px;
        }
        @media (max-width: 1000px) {
            width: 100px;
            height: 100px;
        }
        @media (max-width: 740px) {
            display: none;
        }
    }
    &__aside {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(80px);
    }
    @media (max-width: 740px) {
        flex-direction: column;
    }
}

.aside {
    &__main {
        max-width: 712px;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1300px) {
            width: 500px;
        }
        @media (max-width: 1000px) {
            width: 400px;
        }
        @media (max-width: 740px) {
            margin-top: 20px;
            width: 100%;
        }
    }
    &__content {
        padding: 40px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(80px);
        -webkit-backdrop-filter: blur(80px);
        -moz-backdrop-filter: blur(80px);
        -o-backdrop-filter: blur(80px);
        -ms-backdrop-filter: blur(80px);
        @media (max-width: 600px) {
            padding: 20px;
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 37px;
        line-height: 105%;
        color: #ffffff;
        @media (max-width: 1000px) {
            font-size: 24px;
        }
    }
    &__scroll {
        cursor: pointer;
    }
    &__text {
        margin-top: 20px;
        & p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
            @media (max-width: 1000px) {
                font-size: 16px;
            }
        }
    }
    &__sunflow {
        max-width: 712px;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1300px) {
            width: 500px;
        }
        @media (max-width: 1000px) {
            width: 400px;
        }
        @media (max-width: 740px) {
            margin-top: 20px;
            width: 100%;
        }
    }
}

.sunflow {
    &__title {
        display: flex;
        align-items: center;
        margin: 30px 40px 35px 40px;
        width: 100%;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 135%;
        color: #ffffff;
        &-img {
            width: 21px;
            height: 21px;
        }
        &-text {
            margin-left: 10px;
        }
    }
}
.product-small-elem {
    display: flex;
    //flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.small-elem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 38px;
    padding-top: 0;
}
.sunflow-link {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.link-text {
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 130%;
    display: flex;
    align-items: flex-end;
    color: rgba(255, 255, 255, 0.85);
}
.link-img {
    width: 37px;
    height: 37px;
}
.small-elem-img {
    max-width: 276px;
    width: 100%;
}
.product-big-elem {
    width: 100%;
    padding: 40px 40px 30px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.basis__product {
    background: #8da832;
    backdrop-filter: blur(80px);
}
