.about {
    &__bg {
        background: #262626;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;bottom: 0;
        width: 100%;
        z-index: -100;
    }

    &__desc {
        font-style: normal;
        font-weight: 300;
        color: #ffffff;
        &-title {
            font-size: 35px;
            line-height: 105%;
            text-transform: uppercase;
            margin-bottom:40px;
        }
        &-text {
            font-size: 29px;
            line-height: 130%;
        }
    }
}
