.section {
    &__bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -100;
        width: 100%;
        height: 100vh;
        &__img {
            width: 100%;
            height: 1080px;
            @media (max-width: 1300px) {
                height: 800px;
            }
            @media (max-width: 1000px) {
                height: 650px;
            }
            @media (max-width: 850px) {
                height: 750px;
            }
        }
    }
    &__wrapper {
        width: 100%;
        position: relative;
    }
    &__title {
        position: absolute;
        font-style: normal;
        font-weight: 300;
        font-size: 100px;
        line-height: 107%;
        text-transform: uppercase;
        color: #f2f2f2;
        max-width: 700px;
        padding: 45px 0 0 20px;
        @media (max-width: 1590px) {
            font-size: 80px;
        }
        @media (max-width: 1225px) {
            font-size: 60px;
        }
        @media (max-width: 1000px) {
            font-size: 60px;
            max-width: 500px;
        }
        @media (max-width: 850px) {
            font-size: 40px;
        }
        @media (max-width: 600px) {
            font-size: 35px;
            text-align: left;
            padding: 20px;
            width: 100%;
        }
    }
}

.sunflow-section {
    top: 850px;
}
.linen-section {
    top: 1600px;
    display: block;
    z-index: -50;
}
.rapce-section {
    top: 2200px;
    z-index: -40;
}
.basis-section {
    top: 2800px;
    z-index: -30;
}

.section-animate {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.section-animate.start {
    transform: translate(0px, 0px);
    opacity: 1;
}
