@import "./aside/aside";
@import "main-content";

.main-section {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    &__body {
        max-width: 977px;
        width: 100%;
    }
    &__title {
        margin: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 100px;
        line-height: 107%;
        text-transform: uppercase;
        color: #f2f2f2;
        padding: 0;
        max-width: 800px;
        z-index: -190;
        @media (max-width: 1590px) {
            font-size: 80px;
        }
        @media (max-width: 1000px) {
            font-size: 60px;
        }
        @media (max-width: 850px) {
            font-size: 40px;
        }
        @media (max-width: 600px) {
            font-size: 35px;
            text-align: left;
            padding: 20px;
            width: 100%;
        }
    }
    &__scroll {
        margin-left: 60%;
        margin-top: 70px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.85);
        @media (max-width: 1590px) {
            width: 200px;
            height: 200px;
        }
        @media (max-width: 1000px) {
            width: 100px;
            height: 100px;
        }
        @media (max-width: 740px) {
            display: none;
        }
    }
    &__aside {
        min-height: 3400px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(80px);
        @media (max-width: 1300px) {
            width: 500px;
        }
        @media (max-width: 1045px) {
            width: 450px;
        }
        @media (max-width: 1000px) {
            width: 400px;
        }
        @media (max-width: 740px) {
            margin-top: 20px;
            width: 100%;
        }
    }
    @media (max-width: 740px) {
        flex-direction: column;
    }

}